{% extends 'base.html' %}
{% load i18n django_markdown %}

{% block contenido %}
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9">
          <div class="page-title">
            <h2>Blog</h2>
          </div>
          <div class="blog-wrapper" id="main">
          <div class="posts-isotope row">
                {% if object_list.exists %}
                  {% for object in object_list %}
                      <!-- Blog post -->
                      <div class="col-sm-6 col-md-6">
                        <article class="container-paper-table">
                          <div class="title">
                              <h2 class="entry-title"><a href="#">{{ object.title }}</a></h2>
{#                            <h2 class="entry-title"><a href="{% url 'blog:detail' slug=object.slug %}">{{ object.title }}</a></h2>#}
                          </div>
                          <div class="post-container">
                              <a href="#">
{#                              <a href="{% url 'blog:detail' slug=object.slug %}">#}
                                  <img class="img-responsive" src="{{ object.imagen.url }}" alt=""></a>
                            <div class="text">
                              <ul class="list-info">
                                <li><span class="icon-user">&nbsp;</span>{{ object.author }}</li>
                                <li><span class="icon-time">&nbsp;</span>{{ object.created }}</li>
                              </ul>
                              <p class="post-excerpt">{{ object.description|markdown|safe }}</p>
                              <a href="{% url 'blog:detail' slug=object.slug %}" class="btn btn-mega">Leer más &nbsp; <span class="icon icon-arrow-right-5"></span></a>
                              <ul class="list-info">
                                <li><span class="icon-eye-open">&nbsp;</span>120 vistas</li>
                                <li><span class="icon-comments">&nbsp;</span><a href="#">3 comentarios</a></li>
                              </ul>
                            </div>
                          </div>
                        </article>
                      </div>
                      <!-- //end Blog post -->
                  {% endfor %}
              {% else %}
                {% trans "No content." %}
              {% endif %}

      <!-- Pagination -->
      <ul class="pagination">
        <li><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">»</a></li>
      </ul>
      <!-- //end Pagination -->
        </div>
          </div>
        </div>
        <div class="col-right sidebar col-sm-3">
          <div role="complementary" class="widget_wrapper13" id="secondary">
            <div class="popular-posts widget widget__sidebar wow" id="recent-posts-4">

              <!--widget-content-->
            </div>
            <div class="popular-posts widget widget_categories wow" id="categories-2">
              <h3 class="widget-title"><span></span></h3>

            </div>
            <!-- Banner Ad Block -->
            <div class="ad-spots widget widget__sidebar">

            </div>
            <!-- Banner Text Block -->
            <div class="text-widget widget widget__sidebar">
              <h3 class="widget-title"><span></span></h3>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


