{% load staticfiles %}
<!-- Footer -->
  <footer class="footer">
    <div class="brand-logo ">
      <div class="container">

      </div>
    </div>
    <div class="footer-middle container">
      <div class="col-md-3 col-sm-4">
        <div class="footer-logo">
            <a href="index.html" title="Logo"><img src="{% static "images/serentatodo1000x10002.png" %}" alt="logo"></a>
        </div>

        <div class="payment-accept">

        </div>
      </div>
      <div class="col-md-2 col-sm-4">

      </div>
      <div class="col-md-2 col-sm-4">


      </div>
      <div class="col-md-2 col-sm-4">
          <h4>Info.</h4>
           <div class="contacts-info">
              <address>
             Tel: 7228417700
              <br/>
               Correo:balcoc00@gmail.com
                  </address>
            </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>Contactanos</h4>
        <div class="contacts-info">
          <address>
          <i class="add-icon">&nbsp;</i>Toluca Estado de Mexico <br>
          Parques Nacionales
          </address>
        </div>
      </div>
    </div>
    <div class="footer-bottom container">
      <div class="col-sm-5 col-xs-12 coppyright">Se Renta Todo todos los derechos reservados</div>
      <div class="col-sm-7 col-xs-12 company-links">
        <ul class="links">
          <li><a href="#" title="Magento Themes">Se renta todo</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- End Footer -->