{% extends "base.html" %}
{% load static %}
{% block styles %}



{% endblock %}
{% block contenido %}

  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view wow">
            <div class="product-essential">
              <form action="#" method="post" id="product_addtocart_form">
                <div class="product-img-box col-lg-6 col-sm-6 col-xs-12">
                  <ul class="moreview" id="moreview">
                    <li class="moreview_thumb thumb_1"> <img class="moreview_thumb_image" src="{{ producto.get_image_url }}"> <img class="moreview_source_image" src="{{ producto.get_image_url }}" alt=""> <span class="roll-over">Roll over image to zoom in</span> <img style="position: absolute;" class="zoomImg" src="{{ producto.get_image_url }}"></li>
                    <li class="moreview_thumb thumb_2 moreview_thumb_active"> <img class="moreview_thumb_image" src="http://www.casasshopmexico.com.mx/casasventa/0026santasofia/foto3.jpg"> <img class="moreview_source_image" src="{{ producto.get_image_url }}" alt=""> <span class="roll-over">Roll over image to zoom in</span> <img style="position: absolute;" class="zoomImg" src="{{ producto.get_image_url }}"></li>
                    <li class="moreview_thumb thumb_3"> <img class="moreview_thumb_image" src="{{ producto.get_image_url }}"> <img class="moreview_source_image" src="{{ producto.get_image_url }}" alt=""> <span class="roll-over">Roll over image to zoom in</span> <img style="position: absolute;" class="zoomImg" src="{{ producto.get_image_url }}"></li>
                    <li class="moreview_thumb thumb_4"> <img class="moreview_thumb_image" src="{{ producto.get_image_url }}"> <img class="moreview_source_image" src="{{ producto.get_image_url }}" alt=""> <span class="roll-over">Roll over image to zoom in</span> <img style="position: absolute;" class="zoomImg" src="{{ producto.get_image_url }}"></li>
                    <li class="moreview_thumb thumb_5"> <img class="moreview_thumb_image" src="{{ producto.get_image_url }}"> <img class="moreview_source_image" src="{{ producto.get_image_url }}" alt=""> <span class="roll-over">Roll over image to zoom in</span> <img style="position: absolute;" class="zoomImg" src="{{ producto.get_image_url }}"></li>
                    <li class="moreview_thumb thumb_6"> <img class="moreview_thumb_image" src="{{ producto.get_image_url }}"> <img class="moreview_source_image" src="{{ producto.get_image_url }}" alt=""> <span class="roll-over">Roll over image to zoom in</span> <img style="position: absolute;" class="zoomImg" src="{{ producto.get_image_url }}"></li>
                  </ul>
                  <div class="moreview-control"> <a style="right: 42px;" href="javascript:void(0)" class="moreview-prev"></a> <a style="right: 42px;" href="javascript:void(0)" class="moreview-next"></a> </div>
                </div>
                <!-- end: more-images -->
                <div class="product-shop col-lg-6 col-sm-6 col-xs-12">
                  <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                  <div class="product-name">
                      <h1>{{ producto.title }}</h1>
                  </div>
                  <div class="ratings">
                    <div class="rating-box">
                      <div style="width:60%" class="rating"></div>

                    </div>
                    <p class="rating-links"> <a href="#">1 Calificaciones(s)</a> <span class="separator">|</span> <a href="#">Caifica el producto</a> </p>
                  </div>
                  <p class="availability in-stock"><span>Numero de Contacto: {{ producto.num_contacto }}</span></p>
                  <div class="price-block">
                    <div class="price-box">
                      <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{ foo.price }} </span> </p>
                      <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{ foo.precio_flete }} </span> </p>
                    </div>
                  </div>
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p>{{ producto.description }}</p>

                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      <button onClick="productAddToCartForm.submit(this)" class="button btn-cart" title="rentar" type="button">
                          <a href="{% url "rentas:reservacion" pk=producto.pk %} "> <span><i class="icon-basket"></i> Rentar</span> </a></button>
                    </div>
                    <div class="email-addto-box">
                      <ul class="add-to-links">
                        <li> <a class="link-wishlist" href="#"><span>Agregar a favoritos</span></a></li>
                        <li><span class="separator">|</span> <a class="link-compare" href="#"><span>Agregar a la comparadora</span></a></li>
                      </ul>
                      <p class="email-friend"><a href="#" class=""><span>Enviar email a un amigo!</span></a></p>
                    </div>
                  </div>
                  <div class="custom-box"></div>
                </div>
              </form>
            </div>
            <div class="product-collateral">
              <div class="col-sm-12 wow">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li > <a href="#product_tabs_description" data-toggle="tab"> </a> </li>
                    <li><a href="#product_tabs_tags" data-toggle="tab"></a></li>
                    <li> <a href="#reviews_tabs" data-toggle="tab"></a> </li>
                </ul>
                <div id="productTabContent" class="tab-content">
                    <div class="row">
                          <div class="container">
                              <div class="col-md-1"></div>
                              <div class="col-md-9">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120503.3638682988!2d-99.7012540036062!3d19.2940990492947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89892a50ebb9%3A0xad3f4ad5550208c4!2sToluca+de+Lerdo%2C+M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1469668840338" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                              </div>
                              <div class="col-md-1"></div>
                          </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>

            {% load disqus_tags %}
            {% disqus_show_comments %}
    </div>
        </div>
  </section>

{% endblock %}
{% block scripts %}

{% endblock %}