{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/style-pago.css" %}"/>
{% endblock %}
{% block contenido %}

   {{ ulReserva.id }}
    <div id="wrap">
	<div id="grid">
		<div class="column column1">
		<div class="step" id="step2">
		</div>
		<div class="content" id="address">
		</div>
	</div>
	<div class="column column2">
		<div class="step" id="step3">
			<div class="number">
				<span>3</span>
			</div>
			<div class="title">
				<h1>Información de la renta</h1>
			</div>
			<div class="modify">
				<i class="fa fa-plus-circle"></i>
			</div>
		</div>
        <div class="content" id="final_products">
			<div class="left" id="ordered">
				<div class="products">
					<div class="product_image">
					</div>
					<div class="product_details">
						<span class="product_name">{{ producto }}</span>

						<span class="price">${{ producto.price }}</span>
					</div>
				</div>
				<div class="totals">
					<span class="subtitle">iva <span id="sub_price">$50.0</span></span>
				</div>
				<div class="final">
					<span class="title">Total <span id="calculated_total">${{ total }}</span></span>
				</div>
			</div>
			<div class="right" id="reviewed">
				<div class="billing">
					<span class="title">Detales de la renta:</span>
					<div class="address_reviewed">
						<span>fecha inicio:   {{ inicio }}</span>
                        <span>fecha fin:   {{ fin }}</span>
					</div>
				</div>
				<div id="complete">
				<span class="sub">By selecting this button you agree to the purchase and subsequent payment for this order.</span>
			</div>
		</div>
	</div>
		<div class="step" id="step4">
			<div class="title">
				<h1>Pagar</h1>
			</div>
			<div class="modify">
				<i class="fa fa-plus-circle"></i>
			</div>
		</div>
		<div class="content" id="payment">
			<div class="left">
			{{ form.render }}
			</div>
			<div class="right">
				<div class="accepted">

				</div>
				<div class="secured">
					<img class="lock" src="{% static  "images/imgpagos/lock.png" %}">
					<p class="security info">What, well you mean like a date? Doc? Am I to understand you're still hanging around with Doctor Emmett Brown, McFly? Tardy slip for you, Miss Parker. And one for you McFly I believe that makes four in a row.</p>
				</div>
			</div>
 		</div>
 	</div>
 	<div class="column column3">
 		<div class="step" id="step5">
			<div class="title">
			</div>
			<div class="modify">
				<i class="fa fa-plus-circle"></i>
			</div>
		</div>

</div>
{% endblock %}